* {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: grey;
}

a:hover {
  color: black;
}

body {
  display: flex;
  justify-content: center;
}

#container {
  position: relative;
  font-family: 'Roboto', sans-serif;
  padding: 5%;
  margin-top: 8%;
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 50%;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 5%;
}

h1 {
  font-size: 2em;
  margin: 20px;
}
h2 {
  font-size: 1.5em;
  margin: 20px;
}
h3 {
  margin-top: 15px;
  margin-bottom: 5px;
}

.img {
  border-radius: 50%;
  border-width: 2.7px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -20%;
}

.technologies > p {
  margin: 0;
  padding: 0;
}

.features {
  margin-top: 20px;
}

.text-card {
  margin-bottom: 20px;
}

.text-card > p {
  margin: 0;
  padding: 0;
}

.links {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.projects-icon {
  position: absolute;
  right: 10px;
  top: 10px;
}

.light-mode-body {
  background-color: #eee;
}
.dark-mode-body {
  background-color: #131212;
}

.dark-mode-legend {
  color: white;
}
.light-mode-legend {
  color: #353434;
}

.dark-mode {
  margin: 0px;
  bottom: auto;
  right: 20px;
  top: 20px;
  left: auto;
  position: fixed;
}

#dark-mode-toggle:hover {
  color: #4e4e4e;
  cursor:pointer;
}

.container-light-mode {
  color: #353434;
  background-color: white;
}

.container-dark-mode {
  background-color: #353434;
  color: white;
}

@media screen
  and (max-device-width: 840px) {
    h3 {
      margin-top: 25px;
      margin-bottom: 10px;
      font-size: 50px;
    }
    h4 {
      margin-top: 25px;
      font-size: 45px;
    }
    h2 {
      margin-top: 25px;
      font-size: 50px;
    }
    h1 {
      margin-top: 25px;
      font-size: 60px;
    }

    .img {
      border-width: 8px;
      width: 350px;
      height: 350px;
    }

    #container {
      border-width: 8px;
      margin-top: 25%;
      width: 80%;
    }

    .projects-icon {
      font-size: 30px;
    }

    .dark-mode {
      font-size: 40px;
      z-index: 1;
    }

    .links > a {
      font-size: 30px;
    }

    .links-title {
      margin-top: 40px;
    }
}