* {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: #a0a0a0;
}

a:hover {
  color: black;
}

body {
  display: flex;
  justify-content: center;
}

.background {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  background-image: url('assets/background/BGPJG-boss-fight-1.png');
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  z-index: 0;

  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: scale(1.05);
}

#container {
  position: relative;
  z-index: 1;
  font-family: 'Roboto', sans-serif;
  padding: 5%;
  margin-top: 8%;
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 50%;
  border-radius: 10px;
  margin-bottom: 5%;

  background-color: #353434;
  color: white;

  .intro {
    text-align: center;
  }

  h1 {
    text-align: center;
  }
}

h1 {
  font-size: 2em;
  margin: 20px;
}

h2 {
  font-size: 1.5em;
  margin: 20px;
}

h3 {
  margin-top: 15px;
  margin-bottom: 5px;
}

h4 {
  margin-top: 25px;
  margin-bottom: 5px;
}
.img {
  border-radius: 50%;
  border-width: 2.7px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -20%;
}

.technologies > p {
  margin: 0;
  padding: 0;
}

.features {
  margin-top: 20px;
}

.text-card {
  margin-bottom: 20px;
}

.text-card > p {
  margin: 0;
  padding: 0;
}

.links {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.projects {
  text-align: justify;
}

.project-info {
  margin: 8px 0;
}

@media screen and (max-device-width: 840px) {
  h1 {
    margin-top: 25px;
    font-size: 60px;
  }

  h2 {
    margin-top: 25px;
    font-size: 50px;
  }

  h3 {
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 50px;
  }

  h4 {
    margin-top: 25px;
    font-size: 45px;
  }

  .img {
    border-width: 8px;
    width: 350px;
    height: 350px;
  }

  #container {
    border-width: 8px;
    margin-top: 25%;
    width: 80%;
  }

  .links > a {
    font-size: 30px;
  }

  .links-title {
    margin-top: 40px;
  }
}
